# Rust build
/target/

# SQLite database
*.db
*.sqlite
*.sqlite3

# Diesel schema cache
src/schema.rs

# Env files
.env

ui/node_modules

plugins/hello-world/frontend/node_modules
/plugins/hello-world/frontend/dist/module.js
